<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Залишилось часу</h3>
    <div class="timer mb-4 d-flex">
        <span id="days" class="active" *if="daysToDay && daysToDay > 0"> {{daysToDay}} дн.</span>
        <span id="hours" class="active" *if="hoursToDay && hoursToDay > 0"> {{hoursToDay}} г.</span>
        <span id="minutes" class="active" *if="minutesToDay && minutesToDay > 0"> {{minutesToDay}} хв.</span>
        <span id="seconds" class="active" *if="secondsToDay && secondsToDay > 0"> {{secondsToDay}} с.</span>
    </div>
</div>